

.all {
    background-color: DarkGray;
}

h2 {
  text-align: center;
}

.menulist {
  border: 1px dashed black;
  width: 225px;
  height:200px;
  padding-top: 30px;
  padding-bottom: 20px
}


.img_child {
  position: absolute;
  left:400px;
  top:60px;
}

.about {
  float: left;
  width: 50%;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
  background-color: DarkGray;
}

.about p {
  font-size: 23px;
  text-align: center;
}

.hours {
  float: right;
  width: 50%;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
  text-align: center;
  background-color: DarkGray;
}

.hours p {
   font-size: 23px;
   line-height: 15%;
}
